body{
    background-image: url('fond.jpg');
    background-size: cover;
}
h1{
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgb(255, 80, 16);
}
.fond2{
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.123);
    z-index: 1;
}
.page{
    position: fixed;
    left: 100px;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 999;
}
tr{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 55px;
}
input{
    background-color: rgba(255, 255, 255, 0.24);
    border: 1px solid #fff;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    margin: 5px 0 15px 10px;
}
input:focus{
    border:1px solid rgb(255, 80, 16);
    color: rgb(255, 80, 16);
}
[type="submit"]{
    background-color: rgb(255, 80, 16);
    height: 40px;
    border: none;
    color: #fff;
    font-size: 25px;
    transition: all 1s;
    font-weight: bold;
}
[type="submit"]:hover{
    background-color: rgb(231, 62, 0);
    height: 30px;
    height: 35px;
    width: 95%;
    font-size: 20px;
}
.erreur{
    color: rgb(255, 80, 16);
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 1px #fff;
    background-color: rgba(255, 255, 255, 0.24);
    width: 490px;
    border-radius: 5px;
    padding: 10px;
}
.liste{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.liste td{
    background-color: rgba(255, 255, 255, 0.315);
    width: 200px;
    text-align: center;
}
.valeurs{
    color: #000;
}
button{
    width: 100px;
    height: 25px;
}